<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tracking With Smart Contract</title>
    <script type="text/javascript" src="../controller/smartContractInteraction.js"></script>

    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="main-div">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h1>Benvenuto al Food & Track</h1>
            <a href="/track">Clicca qui per tracciare il tuo prodotto</a>
        </div>
    </div>
</body>

</html>