<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tracking With Smart Contract</title>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script type="module" src="/script.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main-div">
        <div>
            <h1>Inserisci i seguenti dati</h1>
            <form id="trackform">
                <div class="form-row">
                    <label for="foodName">Nome prodotto:</label>
                    <input type="text" id="foodName" name="foodName" placeholder="Inserisci il nome del prodotto"
                        value="pesce">
                </div>
                <div class="form-row">
                    <label for="productCode">Codice prodotto:</label>
                    <input type="text" id="productCode" name="productCode"
                        placeholder="Inserisci il codice del prodotto" value=1>
                </div>
                <div class="form-row">
                    <label for="productPrice">Prezzo prodotto:</label>
                    <input type="number" id="productPrice" name="productPrice"
                        placeholder="Inserisci il prezzo del prodotto" value=45>
                </div>

                <div style="display: flex; justify-content: center; margin-top: 10px; gap: 10px">
                    <button id="trackButton" type="submit">Invia</button>
                    <button id="foodLogs" type="button">Food Tracked</button>
                    <button id="pastEvents" type="button">Past Events</button>
                </div>
            </form>
            <div style="display: flex; justify-content: center; flex-direction: column;">
                <div style="display: flex; justify-content: center;">
                    <div id="loading" style="display: none; margin-top: 5px; margin-bottom: 5px;" class="loader"></div>
                </div>
                <h3 id="response" style="margin-top: 15px;"></h3>
                <h3 id="event" style="margin-top: 15px;"></h3>
            </div>
            <div id="foodLogsDisplay" style="display: flex; justify-content: center; flex-direction: column;" />
            <div id="pastEventsDisplay" style="display: flex; justify-content: center; flex-direction: column;" />
        </div>
    </div>
</body>

</html>